# Archieve
Archieve/

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.pdf
v1/*.aux
v2/*.aux
v1/*.log
v2/*.log
v1/*.toc
v2/*.toc
v1/*.lot
v2/*.lot
v1/*.lof
v2/*.lof
v1/*.fls
v2/*.fls
v1/*.fmt
v2/*.fmt
v1/*.fot
v2/*.fot
v1/*.cb
v2/*.cb2
v1/.*.lb
v2/.*.lb
v1/*.fdb_latexmk
v2/*.fdb_latexmk
v1/*.gz
v2/*.gz
v1/*pdf
v2/*pdf

## BibTeX auxiliary files:
*.bbl
*.bcf
*.blg
*.run.xml


# github action result
semicolon_delimited_script
